*{
margin:0;
padding:0;
box-sizing:border-box;
}
body {
font-family:sans-serif;
background:#000;
line-height:1.4;
color:#333;
}
img{
 width:100%;
 height:100%;
}
div {
 width:100%;
 min-height:100vh;
 padding:30px;
 text-align:center;
}
p {
font-size:23px;
 font-weight:bold;
 font-family:cursive;
 margin-top:0px;
}
.para1{
    font-size:20px;
    margin-top:15px;

}
.div1 {
 font-family:cursive;
 font-size:20px;
 background:#dddddd;
 display: block;
}
h1 {
 margin-bottom:30px;
 margin-top:20px;
 font-size:24px;
 color:#ff6161;
}
.div1 button {
 display:inline-block;
 outline:none;
 border:none;
 color:#fff;
 padding:10px 20px;
 background:#ff6161;
 margin-top:20px;
 text-transform:uppercase;
}
.div2{
 background:url("https://media.giphy.com/media/MViYNpI0wx69zX7j7w/giphy.giftps://media.giphy.com/media/3ohhwmQ0xIg8W3pHd6/giphy.gif");
 background-repeat:no-repeat;
 background-size:cover;
 background-position:center center;
 display:none;
}
.div2 p{
 color:#fff;
Transform translateY(0);
 overflow:hidden;
}
.img {
 display:inline-block;
 width:100px;
 height:100px;
 border-radius:90%;
 margin:auto;
 overflow:hidden;
}

.btn1{
 padding:10px 25px;
 border-radius:30px;
 font-size:18px;
 letter-spacing:1px;
 margin-top:20px;
 box-shadow:0px 5px 5px -2px rgba(0,0,0,0.3);
 animation:fadeIn 1s ease 2s;
 animation-fill-mode:both;
}
